<h1>Edition du Corsair</h1>

<br/>

<%= form_for @corsair do |f| %>
  	<div class='form-group'>
		<label>Prénom</label>
		<%= f.text_field :first_name, class: 'form-control' %>
	</div>
	<div class='form-group'>
		<label>Âge</label>
		<%= f.text_field :age, class: 'form-control' %>
	</div>
	<div class="form-group">
		<label>Plutôt kebab ou hummus?</label>
    	<br />
    	<%= f.label :likeness, "Kebab", :value => "Kebab"  %>
    	<%= f.radio_button :likeness, 'Kebab'%>
    	<%= f.label :likeness, "Hummus", :value => "Hummus" %>
    	<%= f.radio_button :likeness, 'Hummus', :checked => 'Hummus' %>
  	</div>
	<br/>
	<div class='form-group'>
		<button type='submit' class='btn btn-primary'>Editer le Corsair</button>
	</div>
	<div class='form-group'>
		<a href='<%= corsair_path(@corsair.id) %>' class='btn btn-danger' data-confirm='Etes vous sur?' data-method='DELETE'>Supprimer</a>
	</div>
<% end %>