<h2><strong>Prénom : </strong><%= @corsair.first_name %></h2>

<h2><strong>Âge : </strong><%= @corsair.age %></h2>

<h2><strong>Kebab ou Hummus? : </strong><%= @corsair.likeness %></h2>

<br/>

<p>
	<a href='<%= corsairs_path %>' class='btn btn-primary'>Revenir à la liste des Corsairs</a>
	<a href='<%= edit_corsair_path %>' class='btn btn-warning'>Editer</a>
</p>